[submodule "Ghidrathon"]
	path = Ghidrathon
	url = https://github.com/nneonneo/Ghidrathon.git
[submodule "data/lumina_structs"]
	path = data/lumina_structs
	url = https://github.com/ubcctf/lumina_structs
